node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# database migrations (Drizzle)
drizzle/
drizzle/meta
drizzle/schema.json
drizzle/migrations

# Disposable email backup
src/lib/data/disposableEmail/disposable_backups/
# Ignore local utility scripts
scripts/